<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedsUpApp"
        tools:targetApi="31">
        <activity
            android:name="com.example.medsupapp.DiagnosesNotes"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.DiagnosisDetails"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.ContactNotes"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.ContactDetails"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.MedicDetails"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.MedicNotes"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.AddReminder"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.AlarmMaker"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.TextMaker"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.EmailMaker"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.SplasherScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.medsupapp.SpeechToText"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.Profile"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.Register"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.Login"
            android:exported="false" />
        <activity
            android:name="com.example.medsupapp.MainActivity"
            android:exported="false" />

        <receiver android:name="com.example.medsupapp.AlarmReceiver" />
    </application>

</manifest>